.outside__circle {
    background-image: radial-gradient(#FFA10A 5%, #FFBB00 35%, #EE9300 81%);
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    isolation: isolate;

}
.first__image {
    animation: orbit 10s infinite;
    animation-timing-function: linear;
    position: absolute; /* Change from relative to absolute */
    top: 50%;
    left: 50%;

    margin-top: -25px; 
    margin-left: -25px;
}

@keyframes orbit {
    from {
        transform: rotate(0deg) translateX(250px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(250px) rotate(-360deg); 
    }
}
