@import url('https://fonts.googleapis.com/css2?family=Khmer&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

@import "tailwindcss";

@theme {
    --font-roboto: Roboto, "sans-serif";
    --font-roboto-serif: Roboto-Serif, "sans-serif";
    --color-primary-green: #1B6D33;
}

::selection {
    background-color: var(--color-primary-green);
    color: white;
}